<!DOCTYPE html>
<html>
<head>
<title>TiFRONT Cloud Switch</title>
<link rel="stylesheet" type="text/css" href="../../resources/css/common.css" />
<link rel="shortcut icon" type="image/x-icon" href="../../resources/images/favicon.ico" />
</head>
<body>
<div class="wrap">
  <!-- header -->
  <header>
    <div class="inner">
      <h1>TiFRONT Cloud Switch</h1>
    </div>
    <!-- gnb -->
    <div class="gnb">
      <ul>
        <li class="sel"><a href="../live">Live</a></li>
        <li><a href="../playback">Playback</a></li>
		<li><a href="../setting">Setting</a></li>
		<li><a href="admin.html">Admin</a></li>
		<li><a href="live_tools.html">...</a></li> 
      </ul>
    </div>
    <!-- gnb | end -->
  </header>
  <!-- header | end -->
  <!-- contents -->
  <div class="contents overview">
     <div class="inner">
      <h3>Camera Live</h3>
      <div class="con">
        <!-- Your Connection -->
		<img style="-webkit-user-select: none;" src="{% url 'stream2' %}" width="640" height="480">
		<!--` Your Connection | end -->
        <hr />
  
        <br>
        
		<div class="btn_wrap">
			<form action='../live_snapshot' method='GET'>
              <button type="submit">Snap Shot</button>
			</form>
			<form action='../live_left' method='GET'>
              <button type="submit">Left</button>
			</form>
			<form action='../live_up' method='GET'>
              <button type="submit">Up</button>
			</form>
			<form action='../live_down' method='GET'>
              <button type="submit">Down</button>
			</form>
			<form action='../live_right' method='GET'>
              <button type="submit">Right</button>
			</form>
        </div>
	  </div>
    </div>
  </div>
  <!-- contents | end -->
  <!-- footer -->
  <!-- footer | end -->
</div>
</body>
</html>
